.App {
  text-align: center;
}

.idselection {
	margin: auto;
	width: fit-content;
}
.idselection_mainheading{
    color: #5D3FD3;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
}
.idselection_heading{
	font-weight:bold;
	color: grey;
	margin-bottom: 7px;
}
select{
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	color: darkslategrey;
}
select:hover{
	background-color: lightgray;
	color:black
}
.logo{
	border-bottom: 5px solid #82CDE5;
	}
	
.lending_logo{
	height: 50px;
}

.fuelux .loader
{
display:none;
}
.loader-overlay
{
display:none;
}
